<div class="container"  style="width: 35%;">
    <h4 class="text-center">Login</h4>    
    <form action="">
        <div class="form-group">
            <label for="username" class="form-label">Email Id</label><br>
            <input type="email" class="form-control" id="username" required>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password</label><br>
            <input type="password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
        <br>
        <h6><a href="#">New User? Create New Account</a></h6>
    </form>
    
</div>